/* @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.horizontal-scroll{
  @apply overflow-x-auto py-4 px-2 scroll-smooth flex-nowrap
}

.generic-header{
  background: linear-gradient(rgba(104, 185, 22, 0.6), rgba(104, 185, 22, 0.6)), url('http://localhost:3000/media/images/gallery/img9.jpg') no-repeat center center/cover;
}

.nav-link{
  @apply text-gray-600 hover:text-main-500 font-semibold
}

.nav-link.active{
  @apply text-main-500
}

.btn {
  @apply font-medium rounded-lg;
}

.btn-main {
  background: radial-gradient(circle, rgba(103,202,24,1) 0%, rgba(78,161,15,1) 100%);
}

.btn-main:hover {
  background: rgb(78,161,15);
  background: radial-gradient(circle, rgba(78,161,15,1) 0%, rgba(60,123,16,1) 100%);
}

.btn-main:disabled {
  @apply opacity-80 cursor-not-allowed;
}

.mobile-menu {
  height: calc(100vh - 64px);
  z-index: 9999;
}

.Toastify__progress-bar--success {
  background: rgb(104, 185, 22);
}

.Toastify__toast-icon > svg {
  fill: rgb(104, 185, 22);
}

.section-heading {
  @apply mb-10 text-center
}

.section-heading-title {
  @apply uppercase font-bold text-2xl mb-3
}

.section-heading-label {
  @apply text-gray-500 text-sm
}

.wcu-card {
  @apply shadow-custom-1 py-3 px-2 rounded-lg flex flex-col gap-y-3 items-center text-center bg-secondary-500
}

.special-card {
  @apply rounded-lg shadow-lg p-3
}

.featured-card {
  @apply rounded-lg shadow-custom-1 overflow-hidden
}

.testimonial-card {
  @apply shadow-custom-1 rounded-lg flex flex-col gap-4 p-4
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.form-group {
  @apply mb-4 px-3 block;
}

.form-control {
  @apply p-2 outline-none w-full border rounded-lg hover:shadow-sm hover:shadow-main-500 focus:shadow-sm focus:shadow-main-500;
}

/* .testimonial-card {
  animation: scroll 50s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
} 

*/

.footer-link {
  @apply text-gray-50 hover:text-light-500
}